<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:replace="layout/template :: head">
        <title>Agenda Sibre</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="style/styleCss.css"/>-->
    <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <header th:replace="layout/template :: header"></header>
        <header>
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1" style="font-weight: bold;">MINISTÉRIOS</span>

               
               <a href="/newagenda" class="btn btn-primary" role="button">Novo Post</a>
             

            </nav>
        </header>

        <section>
            <div class="container"  style="width: 60%; padding-bottom: 30px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                        <li class="breadcrumb-item active" aria-current="page">Posts</li>
                    </ol>
                </nav>
                <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="agds : ${agenda}">
                    <div class="card-body">
                        <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                            <span th:text="${agds.autor}"></span>
                            <span th:text="${agds.data}"></span>
                        </p>               

                        <a th:href="@{/agendas_User/}+${agds.id}"><h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;"><span th:text="${agds.titulo}"></span></h4></a>
                        <p class="card-text"><span th:utext="${#strings.abbreviate(agds.text,400)} "></span></p>
                        <!--
                        <a th:href="${(#mvc.url('BC#getPostDetails').arg(0, post.id)).build()}" class="card-link">Acessar</a>-->
                    </div>
                </div>
            </div>
        </section>

    </body>
    <footer th:replace="layout/template :: footer"></footer>
</html>
