<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <style>
            table td{
                vertical-align:top;
                border:solid 1px #888;
                padding:10px;
            }

        </style>
    </head>
    <body>
        <center>
            <h1>ERRO DE PERMISSÃO - 403</h1>
            <h3>Esta senha não é valida para este serviço</h3>
             <h4><a href="../entrar">Inicio</a></h4></center>
       
        </center>
    </body>
</html>