<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/template :: head">    
        <title>Cantina</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <header th:replace="layout/template :: header"></header>
      <center>  <h4>A Deus toda honra e toda a gloria!!!</h4>
      <a href="/novo_Patrimonio">Novo Patrimônio</a></center>
        <div class="container mt-4">
        <table class="table">

            <thead>
                <tr>             
                    <th>DESCRICÃO</th> 
                    <th>QUANTIDADE</th>
                    <th>PREÇO</th>
                    <th>DATA</th>
                    <th>EDITAR</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody>               
                <tr th:each="pats:${pat}">                    
                    <td th:text="${pats.descricao}"></td> 
                    <td th:text="${pats.quantidade}"></td>
                    <td th:text="${pats.preco}"></td>
                    <td th:text="${pats.data}"></td>                     
                    <td><a th:href="@{/editePatrimonio/}+${pats.id_p}"class="btn btn-warning">Aterar</a></td>
                    <td><a th:href="@{/apagaPatrimonio/}+${pats.id_p}"class="btn btn-danger">Apagar</a></td> 
                    
                </tr>
            </tbody>
        </table>            

    </div>
    </body>
    <footer th:replace="layout/template :: footer"></footer>
</html>
